@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /*  Mobile: 375px
    - Desktop: 1440px
     */

  /* ### Primary */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --darkGrey: hsl(234, 12%, 34%);
  --lightGrey: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background: var(--White);
  height: 100vh;
}

.container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.content {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}
.content .text {
  padding: 10px;
  margin: 5px;
  text-align: center;
  text-wrap: wrap;
  color: var(--darkGrey);
  font-weight: 200;
  font-size: 15px;
}
.primarytext {
  font-weight: 190;
}

.secondarytext {
  font-weight: 400;
  color: var(--darkGrey);
  font-size: xx-large;
}

.gridContainer {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  gap: 10px;
}

.calculater,
.Supervisor,
.Team-Bulgier,
.Karma {
  display: flex;
  flex-direction: column;
  width: 350px;
  background: white;
  padding: 10px;
  box-shadow: 1px 10px 10px 2px hsl(180, 3%, 59%);
}
.Supervisor {
  border-top: 2px solid var(--Cyan);
}
.Team-Bulgier {
  border-top: 2px solid var(--Red);
}
.Karma {
  border-top: 2px solid var(--Orange);
}
.calculater {
  border-top: 2px solid var(--Blue);
}

.gridContainer h2 {
  color: var(--darkGrey);
}
.gridContainer p {
  color: var(--lightGrey);
  line-height: 1.8rem;
  padding-top: 1rem;
}
.gridContainer img {
  width: 50px;
  height: 50px;
  align-self: flex-end;
  margin: 30px 10px;
}

.itme-1 {
  grid-column: 2/3;
  grid-row: 2/3;
}

@media (min-width: 840px) and (max-width: 1440px) {
  .text {
    width: 60%;
  }
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .itme-1 {
    grid-column: auto;
    grid-row: auto;
  }
}
